<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<footer th:fragment="footer" class="text-muted">
  <div class="bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Об авторе</h4>
          <p class="text-muted">Меня зовут Павел Гололобов, я фотограф-любитель с более чем 20-летним стажем. 
            Все фотографии, размещенные на данном сайте, сделаны мной. 
            Использование материалов допускается только со ссылкой на источник.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Контакты</h4>
          <ul class="list-unstyled">
            <li><a href="https://www.instagram.com/levap.ru" class="text-white">Профиль в Instagram</a></li>
            <li><a href="https://github.com/pavel-gololobov" class="text-white">Профиль на GitHub</a></li>
            <li><a href="mailto:pavel@levap.ru" class="text-white">Email</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
